body{
	margin:0;
	overflow:hidden;
	background-color: #ffeb3b;
}
.sections{
	display:inline-block;
    vertical-align: top;
	overflow:hidden;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    border-top: 1px black solid;
}
#log{
    width: calc(25% - 2em);
}
#rolls{
	overflow-y:auto;
	height: 80%;
}
#menu{
    width: calc(15% - 1em);
	padding-right:0;
    overflow-y: auto;
}
#stat{
	overflow-y:auto;
}
#main{
	width:calc(60% - 2em - 2px);
	height:100%;
	border-left:1px black dashed;
	border-right:1px black dashed;
	padding-left:1em;
	padding-right:1em;
	margin:0;
	overflow-y:auto;
}
.statdiv{
	margin:3px;
    display: inline-block;
    background-color: rgba(255,255,255,0.7);
    padding: 0.3em;
    font-size: x-large;
}
#menu h4{
    margin: 0;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    padding: 0.2em;
    cursor: pointer;
}
#menu h4:hover{
	color: white;
    padding: 0.3em;
    text-shadow: rgba(0,0,0,0.5) 2px 3px;
}
.ui-tabs-nav {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    margin-top: 10px;
}
.ui-corner-top {
    display: inline-block;
}
.ui-corner-top a{
    margin: 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border: black 1px solid;
    background-color: #f5f5c7;
}
.ui-corner-top:hover{
    background-color: #ffff91;
}
.ui-corner-top *{
	text-decoration: none;
	color:black;
}

#controls-rolls button {
    margin: 5px;
    margin-top: 0;
	padding: 3px 6px;
}
.msg{
	padding:10px;
	border-bottom: 1px black solid;
    overflow-wrap: break-word;
}
.msg.crit_fail {
    background-color: #E91E63;
    margin-bottom: -10px;
	border-bottom:none;
}
.msg.crit_suc {
    margin-bottom: -10px;
    background-color: rgb(101, 161, 18);
	border-bottom:none;
}
#charsel{
    display: block;
    width: calc(100% - 24px);
    padding: 0.5em;
    margin: 12px;
    font-size: large;
}
.sections h1{
	margin-top:0;
}
.mmain{
	background-color: #2196F3;
}
.mstats{
	background-color: #8bc34a;
}
.mrolls{
	background-color: #00BCD4;
}
.mchars{
	background-color: #ff5722;
}
.mspell {
    background-color: #FF9800;
}
.msetting {
    background-color: #607D8B;
}
.mcir {
    background-color: #4CAF50;
}
.rollable{
    color: rgba(0,0,0,0);
    background-image: url('d6.png');
    background-size: contain;
    background-repeat: no-repeat;
	cursor:pointer;
    background-position: 50%;
	height: 2em;
    width: 2em;
    border-radius: 0.6em;
	border:black dotted 1px;
	margin: 3px;
}
.rollable:hover {
    background-color: white;
}
.rollableicon{
    color: rgba(0,0,0,0);
    background-image: url('d6.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
	height: 2em;
    width: 2em;
    border-radius: 0.6em;
    background-color: white;
}
.atkbonus {
    padding: 2;
    margin: 2;
    border: black dotted 1px;
    cursor: pointer;
    border-radius: 5px;
}
.atkbonus:hover {
    background-color: white;
}
.sections div h1 {
    margin-top: 24px;
    text-decoration: underline;
}
#main table{
    display: inline-block;
    padding: 1em;
    margin: 1em;
    vertical-align: top;
    border-collapse: collapse;
}
#stat table{
	background-color: #CDDC39;
}
#controls-rolls table{
	background-color: #009688;
}
#main td{
	padding:5px;
    border-bottom: 1px solid black;
    /*border-right: 1px black dashed;
    border-left: 1px dashed black;*/
}
#main th{
	padding:5px;
    border-bottom: 4px solid black;
}
#main td:nth-child(1){
	padding:0;
}
#main th:nth-child(1){
	padding:0;
}
.skills td:nth-child(n+4){
	text-align:center;
}
.abilities td:nth-child(n+3){
	text-align:center;
}
.Attacks td:nth-child(n+2){
	text-align:center;
}
tr:nth-child(even){
	background-color:rgba(255,255,255,0.2);
}
.spacer{
	display:block;
	width:100%;
	height:3em;
}